<div class="card shadow">
  <div class="card-body">
    <div class="d-flex justify-content-between">
        <div *ngIf="!isStarted()">
          <h6 class="card-subtitle mb-2 text-muted">Players</h6>
          <p class="card-text">{{game?.players?.length}} / {{game?.gameSize}}</p>
        </div>
        <div *ngIf="isStarted()">
          <h6 class="card-subtitle mb-2 text-muted">Seat Num</h6>
          <p class="card-text">{{game?.character?.current?.seatNum}}</p>
        </div>
        <div *ngIf="!isStarted()">
            <h6 class="card-subtitle mb-2 text-muted">Room Num</h6>
            <p class="card-text">{{game?.gameNum}}</p>
        </div>
        <div *ngIf="isStarted()">
          <h6 class="card-subtitle mb-2 text-muted">Character</h6>
          <p class="card-text">{{game?.character ? game!.character.characterType : "Visitor" | titlecase}}</p>
      </div>
        <div>
            <button class="btn btn-primary"><i class="far fa-paper-plane me-2"></i>Invite</button>
        </div>
    </div>

    <hr />

    <div *ngFor="let player of game?.players" class="d-flex row mb-2 justify-content-start">
      <div class="col-5">
          <app-player-badge [player]="player" [color]="'primary'" [isThumbsUp]="isThumbsUp(player)" [showAssassinated]="true"></app-player-badge>
      </div>
      <div class="col-7">
        <span class="badge badge-{{getBadgeColor(player)}} rounded-pill" *ngIf="!(game?.gameStatus | gameStatus:'isNotFinished')">{{player.characterType}}</span>
      </div>
    </div>

    <hr>

    <div class="input-group input-group-alternative" *ngIf="!gameIsFinished()">
        <span class="input-group-text"><i class="fas fa-gamepad"></i></span>
        <input class="form-control" placeholder="Display Name" type="text" name="gameNum" [(ngModel)]="newDisplayName">
        <button class="btn btn-primary" (click)="changeName()">change</button>
    </div>
  </div>
</div>
  