<div class="mb-3">
    <small class="text-uppercase font-weight-bold">{{numberOfPlayers}} Players</small>
</div>
<div class="custom-tab-content flex-column flex-md-row">
    <div ngbNav #gameMode5="ngbNav" [(activeId)]="gameModeId" class="nav nav-pills justify-content-center pt-0" type="pills">
        <div *ngFor="let gameMode of gameModes" ngbNavItem class="nav-item" [ngbNavItem]="gameMode.id">
            <a class="nav-link" ngbNavLink (click)="onClicked(gameMode.id)"> {{gameMode.tabName}} </a>
            <ng-template ngbNavContent>
                <div class="tab-content">
                    <p class="description">
                        <span class="text-primary"> {{gameMode.rules}} </span> 
                        <br />
                        {{gameMode.description}}
                    </p>
                </div>
            </ng-template>
        </div>
    </div>

</div>

<div [ngbNavOutlet]="gameMode5" class="custom-tab-content mb-3"></div>