{{gameId}}

<div class="row">
    <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <app-player-container [player]="player1" color="info"></app-player-container>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <app-player-container [player]="player1" color="info"></app-player-container>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <app-player-container [player]="player1" color="info"></app-player-container>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <app-player-container [player]="player1" color="info"></app-player-container>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <app-player-container [player]="player1" color="info"></app-player-container>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <app-player-container [player]="player1" color="info"></app-player-container>
    </div>
</div>

