
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow placeholder-glow">
                <div class="card-header border-0 px-lg-5 py-sm-5">
                    <span class="placeholder col-6 placeholder-lg"></span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <h6 class="card-subtitle mb-2 text-muted">Username</h6>
                        <span class="card-text me-2 placeholder col-2 placeholder-lg"></span>
                    </div>
                    <div class="mb-3">
                        <h6 class="card-subtitle mb-2 text-muted">
                            <span class="me-2">Preferred Name</span>
                            <i class="fas fa-info fa-sm bg-secondary text-white icon-circle" mdbTooltip="Preferred Name used as display name in games." trigger="hover"></i>
                        </h6>
                        <span class="placeholder col-3 placeholder-lg"></span>
                    </div>
                    <div class=" mb-3">
                        <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                        <span class="placeholder col-4 placeholder-lg"></span>
                    </div>
                    <div class=" mb-3">
                        <h6 class="card-subtitle mb-2 text-muted">
                            <span class="me-2">One Time Password</span>
                            <i class="fas fa-info fa-sm bg-secondary text-white icon-circle" mdbTooltip="Password changes on every login." trigger="hover"></i>
                        </h6>
                        <span class="placeholder col-2 placeholder-lg"></span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary me-2 placeholder" [routerLink]="['/update']">Change Info</button>
                        <!-- <button class="btn btn-danger me-2">Resend Password</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

