<div class="row align-items-center text-left">
    <div class="col-lg-5 col-12">
        <h1 class="display-3"> Play with us, <div class="text-primary"> Anytime, Anywhere. </div> </h1>
        <p class="lead pb-4"> 
            Do you have your game room code? <br/> Join a game with your friends!
        </p>
        <div class="row row-input">
            <div class="col-8">
                <input aria-label="Your email" id="signupSrEmail" name="email" placeholder="Game Num" type="email" class="form-control">
                </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block"> Join </button>
            </div>
        </div>
        <hr>
        <p class="lead"> 
            Or create a new game room!
        </p>
        <button type="submit" class="btn btn-primary btn-block"> Create Game </button>

    </div>
    <div class="col-lg-7 col-12 my-4"><img src="assets/img/avalon.jpeg" width="100%" class="ml-lg-5"></div>
</div>
