<mdb-accordion-item [collapsed]="collapsed">
    <ng-template mdbAccordionItemHeader>Quest {{round?.questNum}} Round {{round?.roundNum}}</ng-template>
    <ng-template mdbAccordionItemBody>
      <div class="d-flex justify-content-between mb-3">
          <div>
              <h6 class="card-subtitle mb-2 text-muted">Team Size</h6>
              <p class="card-text">{{round?.teamSize}}</p>
          </div>
          <div>
              <h6 class="card-subtitle mb-2 text-muted">Team Leader</h6>
              <app-player-badge [player]="round?.leader" [color]="'primary'"></app-player-badge>
          </div>
          <div>
              <h6 class="card-subtitle mb-2 text-muted">Status</h6>
              <p class="card-text">{{round?.roundStatus | enumPrint}}</p>
          </div>
      </div>
      <div class="mb-3" *ngFor="let team of round?.teams">
        <app-team-container [team]="team" [players]="players"></app-team-container>
      </div>
      <div class="mb-3" *ngIf="showTeamAssignment()">
        <app-team-assignment [players]="players" [round]="round" [teamType]="teamType"></app-team-assignment>
      </div>
      <hr />
      <div class="mb-3" *ngIf="showFinalTeamVote()">
        <app-vote-container [players]="players" [round]="round" [character]="game?.character"></app-vote-container>
      </div>
      <div class="mb-3" *ngIf="showMissionResult()">
        <app-mission-container [round]="round" [character]="game?.character"></app-mission-container>
      </div>
    </ng-template>
</mdb-accordion-item>
