<div class="text-truncate">
    <small class="me-1 rounded p-1 badge-secondary " *ngIf="isAssassinated()">
        <i class="fas fa-skull-crossbones"></i>
    </small>
    <small class="me-1 rounded p-1 badge-{{color}} " *ngIf="isThumbsUp">
        <i class="far fa-thumbs-up"></i>
    </small>
    <small class="rounded-start p-1 pe-0 badge-{{color}}">
        {{player ? (player.seatNum) : ""}}
    </small>
    <small class="border-start border-2 border-{{color}} rounded-end p-1 badge-{{color}}">
        {{player ? (player.displayName) : ""}}
    </small>
</div>


