<div>
    <small class="rounded-start p-1 pe-0 badge-{{color}} border-end border-2 border-{{color}}">
        {{player ? (player.seatNum) : ""}}
    </small>
    <small class="rounded-end p-1 badge-{{color}} " *ngIf="!isThumbsUp">
        {{player ? (player.displayName) : ""}}
    </small>
    <small class="p-1 pe-0 badge-{{color}} border-end border-1 border-{{color}}" *ngIf="isThumbsUp">
        {{player ? (player.displayName) : ""}}
    </small>
    <small class="rounded-end p-1 badge-{{color}} " *ngIf="isThumbsUp">
        <i class="far fa-thumbs-up"></i>
    </small>
    <small class="ms-1 rounded p-1 badge-secondary " *ngIf="isAssassinated()">
        <i class="fas fa-skull-crossbones"></i>
    </small>
</div>


